!!!
%html
  %head
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
  %body
    %nav.navbar.navbar-static-top.navbar-inverse{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => "#navbar"}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to 'Blog', root_url, :class => "navbar-brand"
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              =link_to 'glowna', root_url
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                %a
                  Logged in as
                  = succeed "." do
                    %strong= current_user.email
              %li= link_to 'Edit profile', edit_user_registration_path
              %li
                \#{link_to "Logout", destroy_user_session_path, method: :delete}
            - else
              %li= link_to "Sign up", new_user_registration_path
              %li
                \#{link_to "Login", new_user_session_path}
    .container
      %p.notice= notice
      %p.alert= alert
      .row
        .col-xs-12.col-md-8
          = yield
        .col-xs-12.col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Lorem ipsum
            .panel-body
              Essa
          .well
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque erat vel mauris malesuada, viverra egestas turpis posuere. Vivamus interdum sem et lacinia rutrum. Donec vel tellus orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam quis sem ex. Nullam tincidunt varius dui id tincidunt. Vestibulum ut urna vel leo hendrerit viverra. Nulla sed metus mollis, sodales mi nec, efficitur arcu. Vivamus turpis dolor, auctor at libero sit amet, lobortis dignissim libero. Quisque et risus sit amet nunc euismod porttitor. Maecenas volutpat hendrerit neque non euismod. Nam eu malesuada urna. In hac habitasse platea dictumst.
